body {
    padding: 0;
    margin: 50px;
}

.head {
    width: 100%;
    height: 250px;
    margin-top: 30px;
}

.head-left {
    width: 60%;
    height: 250px;
    margin-left: 100px;
    float: left;
    font-size: 20px;
}

.head-left h2 {
    color: #C0C0C0;
    font-style: italic;
}

.head-right {
    width: 20%;
    height: 250px;
    float: left;
}

.avatar {
    width: 150px;
    height: 150px;
    background-image: url("../assets/image1.jpg");
    background-size: cover;
    display: block;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    margin: 0 auto;
}

.main {
    width: 100%;
    height: 1200px;
    background-color: #F0F0F0;
}

.main hr {
    height:3px;
    border:none;
    border-top:5px ridge lightskyblue;
}

.first-col {
    width: 100%;
    height: 650px;
}

.first-col hr {
    height:1px;
    border:none;
    border-top:5px ridge #D8D8D8;
}

.about {
    width: 40%;
    height: 500px;
    float: left;
    margin-left: 60px;
    margin-top: 60px;
}

.basic {
    width: 40%;
    float: right;
    margin-right: 60px;
    margin-top: 60px;
}

.about-head {
    width: 100%;
    height: 90px;
}

.basic-head {
    width: 100%;
    height: 90px;
}

.main-avatar {
    width: 70px;
    height: 70px;
    background-image: url("../assets/image1.jpg");
    background-size: cover;
    display: block;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    float: left;
    margin-right: 20px;
}

.about-head h2 {
     float: left;
     font-size: 24px;
 }


.about-main td {
    padding-right: 60px;
}

.basic-head h2 {
    float: left;
    font-size: 24px;
}

.basic-main td{
    padding-right: 30px;
}

.skill-progress {
    width: 100%;
    height: 20px;
}

.experience {
    width: 90%;
    height: 400px;
    margin-left: 50px;
}

.experience hr {
    height:1px;
    border:none;
    border-top:5px ridge #D8D8D8;
}

.experience-main p{
    text-indent: 2em;
}
